@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --branco:white;
    --cor-de-fundo:#002184;
    --fundo-senha:#0a0ac1;
    --fundo-texto:#020b4b;
    --borda:#0044ff;
    --fonte-pincipal:'Roboto Condensed';
}
body {   
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}
.conteudo-titulo{
    text-align: center;
}
*{
    font-weight: 400;
}
.conteudo-senha{
    margin-top: 80px;
    background-color: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}
#campo-senha{
    border-color: var(--fundo-senha);
    border: none;
    color: var(--branco);
    font-family: var(--fonte-pincipal);
    font-size: 40px;
    width: 70%;
}
.titulo-principal{
    font-family: var(--fonte-pincipal);
    font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}
img{
    width: 40px;
    height: 40px;
}
#campo-senha:focus{
    outline:none;
}
.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--branco);
    margin-top: 32px;
    padding: 24px;
}
.parametro-titulo{
    font-family: var(--fonte-pincipal);
    font-size: 28px;
}
.parametro-senha-titulo{
    font-size: 24px;
}